@{
    ViewBag.Title = "Worldwide Movie Database";
}

<div class="jumbotron">
    <h1>Now Playing</h1>
    <img src="~/Images/Braveheart.jpg" />
    <img src="~/Images/Pulp Fiction.jpg" />
    <img src="~/Images/Schindler's List.jpg" />
    <img src="~/Images/The Godfather.jpg" />
</div>

<div class="jumbotron">
    <h1>Coming Soon</h1>
    <img src="~/Images/The Good, the Bad and the Ugly.jpg" />
    <img src="~/Images/The Shawshank Redemption.jpg" />
    <img src="~/Images/Fight Club.jpg" />
    <img src="~/Images/Forrest Gump.jpg" />
</div>

<div class="jumbotron">
    <h1>Events</h1>
    <img src="~/Images/The Academy Awards.jpg" width="700"/>
</div>