@{
    ViewBag.Title = "Worldwide Movie Database";
}

<div class="jumbotron">
    <h1>Now Playing</h1>
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/braveheart.jpg") />
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/fightclub.jpg") />
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/forrestgump.jpg") />
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/pulpfiction.jpg") />
</div>

<div class="jumbotron">
    <h1>Coming Soon</h1>
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/schindlerslist.jpg") />
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/shawshank.jpg") />
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/thegodfather.jpg") />
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/movieposters/thegoodthebadandtheugly.jpg") />
</div>

<div class="jumbotron">
    <h1>Events</h1>
    <img src=@Html.Raw("https://worldwidemoviedb.blob.core.windows.net/general/academyawards.jpg") width="720" />
</div>
