@model IEnumerable<WorldwideMovieDatabase.Models.Movie>

@{
    ViewBag.Title = "Worldwide Movie Database";
    int END_OF_FIRST_ROW = 4;
    int END_OF_SECOND_ROW = 11;
}

<div class="jumbotron">
    <h1>Now Playing</h1>
    
    @{ int movieCount = 0; }
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Movie", "Movies", new { item.ID })">
            <img src="@Html.DisplayFor(modelItem => item.MoviePoster)" />
        </a>

        if (++movieCount == END_OF_FIRST_ROW) { break; }
    }

</div>

<div class="jumbotron">
    <h1>Coming Soon</h1>

    @{ movieCount = 0; }
    @foreach (var item in Model)
    {
        if (++movieCount > END_OF_FIRST_ROW)
        {
            <a href="@Url.Action("Movie", "Movies", new { item.ID })">
                <img src="@Html.DisplayFor(modelItem => item.MoviePoster)" />
            </a>

            if (++movieCount == END_OF_SECOND_ROW) { break; }
        }
    }

</div>

<div class="jumbotron">
    <h1>Events</h1>
    <a href="http://oscar.go.com/">
        <img src="~/Images/The Academy Awards.jpg" width="720" />
    </a>
</div>
