@model IEnumerable<WorldwideMovieDatabase.Models.Movie>

@{
    ViewBag.Title = "Worldwide Movie Database";
    int movies = 0;
}

<div class="jumbotron">
    <h1>Now Playing</h1>

    @foreach (var item in Model)
    {
        <a href="@Url.Action("Movie", "Movies", new { item.ID })">
            <img src="@Html.DisplayFor(modelItem => item.MoviePoster)"/>
        </a> 

        if (++movies == 4) { break; }
    }

</div>

<div class="jumbotron">
    <h1>Coming Soon</h1>

    @foreach (var item in Model)
    {
        if (++movies >= 4)
        {
            <img src="@Html.DisplayFor(modelItem => item.MoviePoster)" />
            if (++movies == 8) { break; }
        }
    }

</div>

<div class="jumbotron">
    <h1>Events</h1>
    <a href="http://oscar.go.com/">
        <img src="~/Images/The Academy Awards.jpg" width="720" />
    </a>
</div>
